<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ slug_title }}</title>
    </head>
    <body>
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}
        <p>Mostrando el post {{ slug_title }}

    </body>
    </html>